<div class="clearfix content">
	<div class="col col-md-9 col-lg-10">
		<form [formGroup]="samplePrepForm">
			<div class="clearfix">
				<h1>Sample Prep Form</h1>
				<input type="button" class="btn clone" value="Clone" (click)="cloneSample()" *ngIf="cloneButton"/>
			</div>

			<header *ngIf="!view">
				<input type="text" class="form-control" aria-describedby="Title" placeholder="Sample Prep Application Title" formControlName="SamplePrepTitle" maxlength="50">
			</header>

			<section class="create-sample-prep">
				<div *ngIf="view" class="view"> 
					<div class="title">
							<div class="col-md-11">{{ samplePrepForm.get('SamplePrepTitle').value }}</div>
							<a class="edit col-md-1" (click)="editFields()" *ngIf="view">Edit</a>
					</div>
    				<div class="row">
							<div class="col-md-6 form-group">
								<label>Pre-Treatment Notes</label>
								<p>{{ samplePrepForm.get('PreTreatmentNotes').value }}</p>
							</div>
							<div class="col-md-6 form-group">
								<label>Sample Prep. Notes</label>
								<p>{{ samplePrepForm.get('SamplePrepNotes').value }}</p>
							</div>
						</div>
    				<div class="row">
							<div class="col-md-6 form-group">
								<label>Sample Prep. Technique</label>
								<p>{{ samplePrepTechniqueValue }}</p>
							</div>
							<div class="col-md-6 form-group">
								<label>PHE or Competitor Column</label>
								<p>{{ pheCompetitorValue }}</p>
							</div>
    				</div>
    				<div class="row">
							<div class="col-md-4 form-group">
								<label>Part Number</label>
								<p>{{ samplePrepForm.get('PartNumber').value }}</p>
							</div>
							<div class="col-md-4 form-group" *ngIf="pheCompetitorKey !== 2">
								<label>Description 1</label>
								<p>{{ samplePrepForm.get('Description1').value }}</p>
							</div>
							<div class="col-md-4 form-group" *ngIf="pheCompetitorKey !== 2">
								<label>Description 2</label>
								<p>{{ samplePrepForm.get('Description2').value }}</p>
							</div>
							<div class="col-md-8 form-group" *ngIf="pheCompetitorKey !== 1">
								<label>Commercial Description</label>
								<p>{{ samplePrepForm.get('CommercialDescription').value }}</p>
							</div>
    				</div>
    				<div class="row">
						<div class="col-md-4 form-group">
							<label>Mfg Code</label>
							<p>{{ mfgValue }}</p>
						</div>
						<div class="col-md-4 form-group">
							<label>Brand Code</label>
							<p>{{ brandValue }}</p>
						</div>
						<div class="col-md-4 form-group">
							<label>Format Type</label>
							<p>{{ samplePrepForm.get('FormatTypeKey').value }}</p>
						</div>
					</div>
    				<div class="row">
							<div class="col-md-3 form-group">
								<label>Format Volume</label>
								<p>{{ samplePrepForm.get('FormatVolume').value }}</p>
							</div>
							<div class="col-md-3 form-group">
								<label>Volume Unit</label>
								<p>{{ volumeUnitValue }}</p>
							</div>
							<div class="col-md-3 form-group">
								<label>Format Mass</label>
								<p>{{ samplePrepForm.get('FormatMass').value }}</p>
							</div>
							<div class="col-md-3 form-group">
								<label>Mass Unit</label>
								<p>{{ massUnitValue }}</p>
							</div>
						</div>
    				<div class="row">
							<div class="col-md-3 form-group">
								<label>Sorbent Lot</label>
								<p>{{ samplePrepForm.get('SorbentLot').value }}</p>
							</div>						
							<div class="col-md-3 form-group">
								<label>Production Lot</label>
								<p>{{ samplePrepForm.get('ProductionLot').value }}</p>
							</div>
							<div class="col-md-3 form-group">
								<label>Collection Plate</label>
								<p>{{ samplePrepForm.get('CollectionPlate').value }}</p>
							</div>
							<div class="col-md-3 form-group">
								<label>Sealing Mat</label>
								<p>{{ samplePrepForm.get('SealingMat').value }}</p>
							</div>
						</div>

					<div class="form-group">
						<table class="table table-responsive table-hover">
						<thead>
							<tr>
								<td>Step</td>
								<td>Type</td>
								<td>Details</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let x of stepGrid; let i=index">
								<td>{{ x.Step }}</td>
								<td>{{ x.TypeValue }}</td>
								<td>{{ x.Details }}</td>
								<td></td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>

				<!-- EDIT MODE -->
				<div class="edit" *ngIf="!view">
					<div class="form-group row">
						<div class="col-md-6">
							<label for="PreTreatmentNotes">Pre-Treatment Notes</label>
							<textarea class="form-control" rows="4" aria-describedby="PreTreatmentNotes" formControlName="PreTreatmentNotes"></textarea>
						</div>
						<div class="col-md-6">
							<label for="SamplePrepNotes">Sample Prep. Notes</label>
							<textarea class="form-control" rows="4" aria-describedby="SamplePrepNotes" formControlName="SamplePrepNotes"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<label for="SamplePrepTechnique">Sample Prep. Technique <span class="red">*</span></label>
							<kendo-combobox 
								class="form-control" 
								[data]="dataSamplePrepTechnique"   
								textField="Value" 
								valueField="Key"
								valuePrimitive="true"
								[(ngModel)]="samplePrepTechniqueKey"
								suggest="true"
								formControlName="SamplePrepTechniqueKey" 
								filterable="true"
								(filterChange)="filterChangeSamplePrepTechniqueKey($event)"
							>
							</kendo-combobox> 
						</div>
						<div class="col-md-6">
							<label for="PHECompetitor">PHE or Competitor <span class="red">*</span></label>
							<kendo-combobox 
								class="form-control" 
								[data]="dataPHECompetitor"   
								textField="Value" 
								valueField="Key"
								valuePrimitive="true"
								suggest="true"
								[(ngModel)]="pheCompetitorKey"
								(valueChange)="valueChangePHECompetitor($event)"
								formControlName="PHECompetitorKey" 
								filterable="true"
								(filterChange)="filterChangePHECompetitor($event)"
							>
							</kendo-combobox> 
						</div>
					</div>
					<div class="form-group row" *ngIf="pheCompetitorKey != null">
						<div class="col-md-4" *ngIf="pheCompetitorKey === 1">
							<label for="PartNumber">Part Number</label>
							<kendo-autocomplete
								class="form-control"
								[data]="PartNumber"
								[filterable]="true"
								valueField="Value"
								formControlName="PartNumber"
								(filterChange)="filterChangePartNumber($event)"
								(valueChange)="valueChangePartNumber($event)"
								[placeholder]="'e.g. AH0-7194'"
							>
							</kendo-autocomplete>  
						</div>
						<div class="col-md-4" *ngIf="pheCompetitorKey !== 1">
							<label for="PartNumber">Part Number</label>
							<input 
								type="text" 
								class="form-control" 
								aria-describedby="PartNumber" 
								formControlName="PartNumber"
							>
						</div>
						<div class="col-md-8" *ngIf="pheCompetitorKey !== 1">
							<label for="CommercialDescription">Commercial Description</label>
							<input 
								type="text" 
								class="form-control" 
								aria-describedby="CommercialDescription" 
								formControlName="CommercialDescription"
							>
							</div>
						<div class="col-md-4" *ngIf="pheCompetitorKey === 1">
							<label for="Description1">Description 1</label>
							<input type="text" 
								class="form-control" 
								aria-describedby="Description1" 
								formControlName="Description1"
							>
						</div>
						<div class="col-md-4" *ngIf="pheCompetitorKey === 1">
							<label for="Description2">Description 2</label>
							<input type="text" 
								class="form-control" 
								aria-describedby="Description2" 
								formControlName="Description2"
							>
						</div>
					</div>
					<div class="form-group row" *ngIf="pheCompetitorKey != null">
						<div class="col-md-4" *ngIf="pheCompetitorKey === 1">
							<label for="MfgCode">Mfg Code</label>
							<input type="text" class="form-control" aria-describedby="MfgCode" formControlName="MfgCode">
						</div>
						<div class="col-md-4" *ngIf="pheCompetitorKey !== 1">
							<label for="MfgCode">Mfg Code</label>
							<kendo-combobox 
								class="form-control" 
								[data]="dataMfgCode"
								textField="Value"
								valueField="Key"
								valuePrimitive="true"
								suggest="true"
								formControlName="MfgCodeKey"
								[(ngModel)]="mfgCodeKey"
								filterable="true"
								(filterChange)="filterChangeMfgCode($event)" 
							>
							</kendo-combobox> 
						</div>						
						<div class="col-md-4" *ngIf="pheCompetitorKey === 1">
							<label for="Brand">Brand Code</label>
							<input type="text" class="form-control" aria-describedby="BrandCode" formControlName="BrandCode">
						</div>
						<div class="col-md-4" *ngIf="pheCompetitorKey !== 1">
							<label for="Brand">Brand Code</label>
							<kendo-combobox 
								class="form-control" 
								[data]="dataBrandCode"
								textField="Value"
								valueField="Key"
								valuePrimitive="true"
								suggest="true"
								formControlName="BrandCodeKey"
								[(ngModel)]="brandCodeKey"
								filterable="true"
								(filterChange)="filterChangeBrandCode($event)" 
							>
							</kendo-combobox> 
						</div>
						<div class="col-md-4">
							<label for="FormatTypeKey">Format Type <span *ngIf="pheCompetitorKey === 2" class="red">*</span></label>
							<input type="text" class="form-control" aria-describedby="FormatTypeKey" formControlName="FormatTypeKey">
						</div>
					</div>
					<div class="form-group row" *ngIf="pheCompetitorKey != null">
						<div class="col-md-3">
							<label for="FormatVolume">Format Volume <span *ngIf="pheCompetitorKey !== 1" class="red">*</span></label>
							<input type="text" class="form-control" aria-describedby="FormatVolume" formControlName="FormatVolume">
						</div>
						<div class="col-md-3" *ngIf="pheCompetitorKey === 1">
							<label for="VolumeUnit">Volume Unit</label>
							<input type="text" class="form-control" aria-describedby="VolumeUnit" formControlName="VolumeUnit">
						</div>
						<div class="col-md-3" *ngIf="pheCompetitorKey !== 1">
							<label for="VolumeUnitKey">Volume Unit <span class="red">*</span></label>
							<kendo-combobox 
								class="form-control" 
								[data]="dataVolumeUnit"   
								textField="Value"
								valueField="Key"
								valuePrimitive="true"
								[suggest]="true"
								formControlName="VolumeUnitKey" 
								[(ngModel)]="volumeUnitKey"
								filterable="true"
								(filterChange)="filterChangeVolumeUnitKey($event)" 
							>
							</kendo-combobox> 
						</div>

								<div class="col-md-3" *ngIf="pheCompetitorKey == 1">
									<label for="FormatMass">Format Mass</label>
									<input type="text" class="form-control" aria-describedby="FormatMass" formControlName="FormatMass">
								</div>
								<div class="col-md-3" *ngIf="pheCompetitorKey !== 1">
								<label for="FormatMass">Format Mass <span class="red">*</span></label>
								<input type="text" class="form-control" aria-describedby="FormatMass" formControlName="FormatMassKey">								
								</div>

						<div class="col-md-3" *ngIf="pheCompetitorKey === 1">
							<label for="MassUnitKey">Mass Unit</label>
							<input type="text" class="form-control" aria-describedby="MassUnit" formControlName="MassUnit"> 
						</div>
						<div class="col-md-3" *ngIf="pheCompetitorKey !== 1">
							<label for="MassUnitKey">Mass Unit</label>	
							<kendo-combobox 
								class="form-control" 
								[data]="dataMassUnit"  
								textField="Value"
								valueField="Key"
								valuePrimitive="true"
								[suggest]="true"
								formControlName="MassUnitKey" 
								[(ngModel)]="massUnitKey"
								filterable="true"
								(filterChange)="filterChangeMassUnitKey($event)"
							>
							</kendo-combobox> 
						</div>
					</div>
					<div class="form-group row">
							<div class="col-md-3">
									<label for="SorbentLot">Sorbent Lot</label>
									<input type="text" class="form-control" aria-describedby="SorbentLot" formControlName="SorbentLot">
								</div>
							<div class="col-md-3">
								<label for="ProductionLot">Production Lot</label>
								<input type="text" class="form-control" aria-describedby="ProductionLot" formControlName="ProductionLot">
							</div>
							<div class="col-md-3">
								<label for="CollectionPlate">Collection Plate</label>
								<kendo-autocomplete
									#autocomplete
									class="form-control"
									[data]="CollectionPlate"
									[filterable]="true"
									valueField="Value"
									formControlName="CollectionPlate"
									(filterChange)="filterChangeCollectionPlate($event)"
									(valueChange)="valueChangeCollectionPlate($event)"
									[placeholder]="'e.g. 00A-0138-E0'"
								>
								</kendo-autocomplete>
							</div>
							<div class="col-md-3">
								<label for="SealingMat">Sealing Mat</label>
								<kendo-autocomplete
									#autocomplete
									class="form-control"
									[data]="SealingMat"
									[filterable]="true"
									valueField="Value"
									formControlName="SealingMat"
									(filterChange)="filterChangeSealingMat($event)"
									(valueChange)="valueChangeSealingMat($event)"
									[placeholder]="'e.g. 00A-0138-E0'"
								>
								</kendo-autocomplete>
							</div>
					</div>

					<div class="clearfix">
						<!-- BEGIN -->
						<table class="table table-hover sp">
						<thead>
							<tr>
								<td>Step</td>
								<td>Type <span class="red">*</span></td>
								<td>Details <span class="red">*</span></td>
								<td></td>
							</tr>
						</thead>
						<tbody formArrayName="Steps" *ngIf="!view">
							<tr *ngFor="let x of samplePrepForm.controls.Steps.controls; let i=index" [formGroupName]="i">	
								<td>{{ i+1 }}</td>
								<td>
									<kendo-combobox 
										class="form-control" 
										[data]="dataSampleStepType" 
										textField="Value" 
										valueField="Key"
										valuePrimitive="true"
										suggest="true"
										formControlName="TypeKey"
									>
									</kendo-combobox> 
								</td>
								<td><input type="text" class="form-control" formControlName="Details"></td>
								<td><span class="fa fa-times-circle pull-right" *ngIf="samplePrepForm.controls.Steps.controls.length > 1" (click)="removeSampleStep(i)"></span></td>
							</tr>
						</tbody>
						</table>
						<!-- END -->
					</div>

					<div class="row">
						<div class="col-md-2"><button class="btn btn-full" kendoButton (click)='addSampleStep()'>Add New Step</button></div>
						<section class="save-submit col-md-10">
							<button type="button" class="btn btn-primary" *ngIf="appID != null" (click)="returnSample()">Cancel</button> 
							<button type="submit" class="btn btn-primary" [disabled]="!samplePrepForm.valid" (click)="onSubmit()">Save</button>
						</section>
					</div>
				</div>
			</section>
		</form>

		<!-- Grid of all application that link to sample prep -->
		<!-- <br><br><br><br>
		<button id="clear-filter" type="button" class="btn" (click)="clearFilter()" [disabled]="disabledButtonClear">Clear Filter</button><br><br>
		<kendo-grid
			[data]="gridData"
			[pageSize]="state.take"
			[skip]="state.skip"
			[sort]="state.sort"
			[filter]="state.filter"
			[sortable]="true"
			[pageable]="false"
			[scrollable]="true"
			[filterable]="true"
			(filterChange)="filterChange()"
			*ngIf="showAppGrid"
			>
			<kendo-grid-column field="ID" title="App ID" filter="numeric" width="130"></kendo-grid-column>
			<kendo-grid-column field="status" title="Status" width="105"></kendo-grid-column>
			<kendo-grid-column field="title" title="Title"></kendo-grid-column>
			<kendo-grid-column field="partNumber" title="Part #" width="120"></kendo-grid-column>
			<kendo-grid-column field="partDescription1" title="Description" width="180"></kendo-grid-column>
			<kendo-grid-column field="activated" title="Activated" width="100"></kendo-grid-column>
			<kendo-grid-column field="separation" title="Sep Method" width="100"></kendo-grid-column>
			<kendo-grid-column field="analyst" title="Assigned" width="110"></kendo-grid-column>
			<kendo-grid-column field="createdDate" title="Created" width="130" filter="date" format="{0:d}" width="100"></kendo-grid-column>
			<kendo-grid-column field="modifiedDate" title="Modified" width="130" filter="date" format="{0:d}" width="100"></kendo-grid-column>
		</kendo-grid> -->
	</div>

	<aside class="col col-xs-12 col-md-3 col-lg-2">
		<section class="sid">
			<label>SID</label>
			<span>#{{ samplePrepID }}</span>
		</section>
		<section class="analyst">
			<label>Analyst</label>
			<span>{{ analyst }}</span>
		</section>
		<section class="created">
			<label>Created</label>
			<span>{{ createdOn }}</span>
		</section>
		<section class="modified">
			<label>Modified</label>
			<span>{{ modifiedOn }}</span>
		</section>
	</aside>
